@font-face {
  font-family: 'kingthings_foundationregular';
  src: url('src/font/Kingthings_Foundation-webfont.eot');
  src: url('src/font/Kingthings_Foundation-webfont.eot?#iefix') format('embedded-opentype'),
       url('src/font/Kingthings_Foundation-webfont.woff2') format('woff2'),
       url('src/font/Kingthings_Foundation-webfont.woff') format('woff'),
       url('src/font/Kingthings_Foundation-webfont.ttf') format('truetype'),
       url('src/font/Kingthings_Foundation-webfont.svg#kingthings_foundationregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Colors */

// $text-color: #333
// $border-color: #ccc
