#app {
  padding: 3em;
  text-align: center;
}
.input {
  height: 4em;
}

input {
  font-size: 2em;
  font-family: 'MedievalSharp', cursive, sans-serif;
}

.ui {
  display: flex;
  justify-content: center;
  align-items: center;

}

.button {
  display: inline;
}

ul {
  height: 100%;
}
